<h3 class="text-center mt-1" style="font-family: DelaGothic">My Courses</h3>
<ng-container *ngFor="let course of attachedCourses; let i = index">
  <div *ngIf="i < 2" class="items-center m-2 p-1 relative bg-gray-50 overflow-hidden rounded-lg shadow sm:flex">
    <div class="h-full md:h-1/2 md:rounded-l-lg w-full md:w-1/2 lg:w-1/2 relative">
      <img src="./assets/img/courses-page/eleven-talking-points-tw.jpeg" class="rounded-l-lg object-cover object-center sm:w-full sm:h-full w-1/2 h-1/2" alt="">
    </div>
    <div class="p-5 w-full lg:w-1/2">
      <div class="flex justify-between items-center" style="font-family: Montserrat">
        <div>
          <h3 class="cursor-pointer text-xl font-bold tracking-tight text-gray-900">
            <a [routerLink]="['/course', course.id]"
               class="uppercase font-semibold text-base hover:underline">
              {{ course.title }}
            </a>
          </h3>
        </div>
        <div>
          <p style="font-family: DelaGothic" class="text-[#2B788B]">
            ${{ course.price }}
          </p>
        </div>
      </div>
      <p class="mt-3 mb-4 font-light text-xs text-[#757575]">{{ course.description }}</p>
      <div class="absolute cursor-pointer -bottom-2 -right-2 bg-red-500 rounded-xl p-2 text-white" (click)="detachCourseFromUser(course.id)">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M6 12h12" />
        </svg>
      </div>
    </div>
  </div>
</ng-container>
<div class="flex justify-center m-2 items-center">
  <button type="button" routerLink="/courses" class="inline-flex w-full justify-center rounded-lg bg-[#2B788B] px-3 py-2 text-xs md:text-sm font-bold text-white shadow-sm hover:opacity-90 sm:w-auto">Show more courses</button>
</div>
