<section class="p-2 flex flex-col h-full">
  <div>
    <p class="text-center w-full text-lg text-[#2B788B] pt-2" style="font-family: DelaGothic">My Courses</p>
  </div>
  <div class=" flex-grow space-y-6">
    <ng-container *ngFor="let course of attachedCourses; let i = index" class="w-full">
      <div *ngIf="i < 2" class="items-center m-2 p-1 relative bg-[#F6F5F4] hover:bg-[#2B788B]/10 overflow-hidden rounded-xl shadow sm:flex">
        <div class="p-2.5 w-full">
          <div class="flex justify-between items-center" style="font-family: DelaGothic">
            <div>
              <a [routerLink]="['/course', course.id]"
                 class="uppercase cursor-pointer hover:underline">
                <span class="font-semibold text-[#2B788B] text-sm">
                  {{ course.title }}
                </span>
              </a>
            </div>
            <div>
            <span  class="text-[#2B788B]">
              ${{ course.price }}
            </span>
            </div>
          </div>
          <div class="pt-3">
            <p class="mb-4 font-medium text-xs text-[#757575]">{{ course.description }}</p>
          </div>
          <div class="absolute cursor-pointer -bottom-2 -right-2 bg-[#945069] rounded-xl p-2 text-white" (click)="detachCourseFromUser(course.id)">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 12h12" />
            </svg>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
  <div>

  </div>
  <div class="flex justify-center items-center" style="font-family: Montserrat">
    <button type="button" routerLink="/courses" class="rounded-full bg-[#2B788B] p-2 px-4 text-xs md:text-sm font-bold text-white shadow-sm hover:opacity-90 sm:w-auto">Show more</button>
  </div>
</section>
