<section class="bg-[#C3DCE3] pb-24">
  <div class="flex flex-col items-center justify-center px-3 mx-auto md:h-screen lg:py-0">
    <div class="md:pb-8 pt-6">
      <h1 class="text-xl font-bold tracking-wider text-center leading-tight text-[#2B788B] md:text-2xl" style="font-family: DelaGothic">
        {{'changePassword' | translate}}
      </h1>
    </div>
    <div class="w-full mt-6 p-6 bg-white rounded-lg shadow md:mt-0 sm:max-w-md sm:p-8">
      <form class="mt-4 space-y-4 lg:mt-5 md:space-y-5" [formGroup]="resetForm" (ngSubmit)="resetPassword()" style="font-family: Montserrat">
        <div>
          <label for="email" class="block mb-2 text-sm font-medium text-gray-900 ">{{'emailLabel' | translate}}</label>
          <input type="email"
                 name="email"
                 id="email"
                 disabled
                 [value]="email"
                 class="bg-blue-50 border border-[#C3DCE3] text-gray-900 sm:text-sm text-sm rounded-lg focus:ring-[#2B788B] focus:border-[#2B788B] block w-full p-2.5 " placeholder="your@email.com" >
          <div class="error-message" *ngIf="errorShow">
            <p class="mt-2 text-[#945069]  font-medium text-xs">
              {{ resetForm.getError('email') }}
            </p>
          </div>
        </div>
        <div>
          <label for="password" class="block mb-2 text-sm font-medium text-gray-900 ">{{'passwordLabel' | translate}}</label>
          <input type="password"
                 name="password"
                 id="password"
                 placeholder="••••••••"
                 formControlName="password"
                 class="bg-blue-50 border border-[#C3DCE3] text-gray-900 sm:text-sm  text-sm rounded-lg focus:ring-[#2B788B] focus:border-[#2B788B] block w-full p-2.5" >
          <div class="error-message" *ngIf="resetForm.getError('password')">
            <p class="mt-2 text-[#945069] font-medium text-xs">
              {{ resetForm.getError('password') }}
            </p>
          </div>
          <div *ngIf="resetForm.get('password')?.hasError('required') && resetForm.controls.password.touched">
            <p class="mt-2 text-[#945069] font-medium text-xs">
              {{'passwordRequired' | translate}}
            </p>
          </div>
          <div *ngIf="resetForm.get('password')?.hasError('minlength')">
            <p class="mt-2 text-[#945069] font-medium text-xs">
              {{'passwordMinLength' | translate}}
            </p>
          </div>
          <div *ngIf="resetForm.get('password')?.hasError('pattern')">
            <p class="mt-2 text-[#945069] font-medium text-xs">
              {{'passwordPattern' | translate}}
            </p>
          </div>
          <div *ngIf="resetForm.get('password')?.hasError('passwordMismatch')">
            <p class="mt-2 text-[#945069] font-medium text-xs">
              {{'passwordMismatch' | translate}}
            </p>
          </div>
        </div>
        <div>
          <label for="password_confirmation" class="block mb-2 text-sm font-medium text-gray-900 ">{{'passwordConfirmationLabel' | translate}}</label>
          <input type="password"
                 name="password_confirmation"
                 id="password_confirmation"
                 placeholder="••••••••"
                 formControlName="password_confirmation"
                 class="bg-blue-50 border border-[#C3DCE3] text-gray-900 sm:text-sm  text-sm rounded-lg focus:ring-[#2B788B] focus:border-[#2B788B] block w-full p-2.5" >
          <div class="error-message" *ngIf="resetForm.getError('password_confirmation')">
            <p class="mt-2 text-[#945069] font-medium text-xs">
              {{ resetForm.getError('password_confirmation') }}
            </p>
          </div>
          <div *ngIf="resetForm.get('password_confirmation')?.hasError('required') && resetForm.controls.password_confirmation.touched">
            <p class="mt-2 text-[#945069] font-medium text-xs">
              {{'passwordConfirmationRequired' | translate}}
            </p>
          </div>
          <div *ngIf="resetForm.get('password_confirmation')?.hasError('minlength')">
            <p class="mt-2 text-[#945069] font-medium text-xs">
              {{'passwordMinLength' | translate}}
            </p>
          </div>
          <div *ngIf="resetForm.get('password_confirmation')?.hasError('pattern')">
            <p class="mt-2 text-[#945069] font-medium text-xs">
              {{'passwordPattern' | translate}}
            </p>
          </div>
          <div *ngIf="resetForm.getError('passwordMismatch')">
            <p class="mt-2 text-[#945069] font-medium text-xs">
              {{'passwordMismatch' | translate}}
            </p>
          </div>
        </div>

        <button type="submit"
                style="font-family: DelaGothic"
                [disabled]="resetForm.invalid"
                class="w-full text-white bg-[#5996A5] tracking-widest focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">
          {{'resetPassword' | translate}}
        </button>

      </form>
      <!--    Modal success window start -->
      <div *ngIf="resultShow" class="relative z-10" aria-labelledby="modal-title" role="dialog" aria-modal="true">
        <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>
        <div class="fixed inset-0 z-10 w-screen overflow-y-auto">
          <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
            <div class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg">
              <div class="bg-white px-4 pb-4 pt-5 sm:p-6 sm:pb-4">
                <div class="sm:flex sm:items-start">
                  <div class="mx-auto flex h-12 w-12 flex-shrink-0 items-center justify-center sm:mx-0 sm:h-10 sm:w-10">
                    <img src="./assets/img/forgot-password-page/3d-casual-life-check-mark-in-box-blue.png" alt="">
                  </div>
                  <div class="mt-3 text-center sm:ml-4 sm:mt-0 sm:text-left">
                    <h3 class="text-base font-semibold leading-6 text-[#2B788B]" id="modal-title" style="font-family: DelaGothic">{{result}}</h3>
                    <div class="mt-2">
                      <p class="text-sm text-gray-500"  style="font-family: Montserrat">{{'passwordResetMessage' | translate}}</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="bg-blue-50 px-4 py-3 sm:flex gap-x-2 sm:flex-row-reverse sm:px-6">
                <button (click)="resultShow = !resultShow" type="button" class="mt-3 inline-flex w-full justify-center rounded-md bg-[#945069] px-3 py-2 text-sm font-semibold text-white shadow-sm  sm:mt-0 sm:w-auto" style="font-family: Montserrat">{{'closeButton' | translate}}</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--    Modal success window end-->

      <!--    Modal error window start -->

      <div *ngIf="resetForm.getError('backend') && errorShow" class="relative z-10" aria-labelledby="modal-title" role="dialog" aria-modal="true">
        <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>
        <div class="fixed inset-0 z-10 w-screen overflow-y-auto">
          <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
            <div class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg">
              <div class="bg-white px-4 pb-4 pt-5 sm:p-6 sm:pb-4">
                <div class="sm:flex sm:items-start">
                  <div class="mx-auto flex h-12 w-12 flex-shrink-0 items-center justify-center sm:mx-0 sm:h-10 sm:w-10">
                    <img src="./assets/img/forgot-password-page/casual-life-3d-alarm-sign.png" alt="">
                  </div>
                  <div class="mt-3 text-center sm:ml-4 sm:mt-0 sm:text-left">
                    <h3 class="text-base font-semibold leading-6 text-[#945069]" style="font-family: DelaGothic">{{resetForm.getError('backend')}}</h3>
                    <div class="mt-2">
                      <p class="text-sm text-gray-500"  style="font-family: Montserrat">{{'errorOccurred' | translate}}</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="bg-blue-50 px-4 py-3 sm:flex sm:flex-row-reverse sm:px-6">
                <button (click)="errorShow = !errorShow" type="button" class="mt-3 inline-flex w-full justify-center rounded-md bg-[#945069] px-3 py-2 text-sm font-semibold text-white shadow-sm  sm:mt-0 sm:w-auto" style="font-family: Montserrat">{{'ok' | translate}}</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--    Modal error window end-->

    </div>
  </div>
</section>
