<header #menu class="w-full z-50" [ngClass]="{'fixed top-0': burgerMenu }">
  <nav class="bg-[#F6F5F4]">
    <div class="mx-auto px-2 sm:px-6 flex justify-center lg:px-8 border border-b ">
      <div class="relative max-w-screen-lg  w-full md:w-[90%] lg:w-[70%] flex h-16 items-center justify-between">
        <div class="flex items-center lg:hidden">
          <!-- Mobile menu button-->
          <div (click)="toggleMenus()" class="relative inline-flex items-center justify-center rounded-md p-2" aria-controls="mobile-menu" aria-expanded="false">
            <span class="absolute -inset-0.5"></span>
            <span class="sr-only">Open main menu</span>
            <span [ngClass]="{'hidden': burgerMenu }">
               <svg  width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M2 7L22 7" stroke="black" stroke-width="1.4" stroke-linecap="square"/>
                <path d="M2 12.5L16 12.5" stroke="black" stroke-width="1.4" stroke-linecap="square"/>
                <path d="M2 18L8 18" stroke="black" stroke-width="1.4" stroke-linecap="square"/>
              </svg>
            </span>
            <svg [ngClass]="{'hidden': !burgerMenu }" class=" h-6 w-6 text-black" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </div>
        </div>
        <div class="flex items-center">
          <div class="hover:scale-105">
            <span class="self-center pr-3 text-lg lg:text-xl font-bold text-black bg-none hover:bg-[#F6F5F4] cursor-pointer" style="font-family: DelaGothic">GlobalTalk</span>
          </div>
          <ul class="hidden lg:flex items-center space-x-6 text-[#757575]   p-4  font-semibold ">
            <li>
              <svg width="2" height="18" viewBox="0 0 2 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1.04761 0.567383V17.4326" stroke="#E0E0E0" stroke-width="1.20466"/>
              </svg>
            </li>
            <li class="hover:scale-105 hover:text-[#2B788B] hover:bg-[#C3DCE3] cursor-pointer p-3 px-4 rounded">
              <a routerLink="/" class="block  rounded">Home</a>
            </li>
            <li class="hover:scale-105 hover:text-[#2B788B] hover:bg-[#C3DCE3] cursor-pointer p-3 px-4 rounded">
              <a href="#" >Blog</a>
            </li>
            <li class="hover:scale-105 hover:text-[#2B788B] hover:bg-[#C3DCE3] cursor-pointer p-3 px-4 rounded">
              <a href="#" class="block   rounded">About us</a>
            </li>
            <li class="hover:scale-105 hover:text-[#2B788B] hover:bg-[#C3DCE3] cursor-pointer p-3 px-4 rounded">
              <a href="#" class="block   rounded">Contact</a>
            </li>
          </ul>
        </div>
        <div class=" flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
          <!-- Dropdown auth -->
          <div class="relative ml-3">
            <div class="flex items-center space-x-2">
              <button type="button" (click)="toggleAuthMenu()" class="relative cursor-pointer flex rounded-full text-gray-700 hover:scale-105 hover:text-[#2B788B]" id="user-menu-button" aria-expanded="false" aria-haspopup="true">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-7 h-7">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0012 15.75a7.488 7.488 0 00-5.982 2.975m11.963 0a9 9 0 10-11.963 0m11.963 0A8.966 8.966 0 0112 21a8.966 8.966 0 01-5.982-2.275M15 9.75a3 3 0 11-6 0 3 3 0 016 0z" />
                </svg>
              </button>
            </div>

            <div [ngClass]="{'hidden': !authMenu }" class="absolute right-0 z-40 mt-2 w-48 origin-top-right rounded-md bg-white py-1 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none" style="font-family: Montserrat">
              <a  (click)="redirectToLogin('User')" class="block cursor-pointer px-4 py-2 text-sm font-semibold text-[#757575] tracking-wider hover:text-[#2B788B] hover:bg-gray-50" role="menuitem" tabindex="-1" id="user-menu-item-0">Sign as Student</a>
              <a  (click)="redirectToLogin('Teacher')" class="block cursor-pointer px-4 py-2 text-sm font-semibold text-[#757575] tracking-wider hover:text-[#2B788B] hover:bg-gray-50" role="menuitem" tabindex="-1" id="user-menu-item-1">Sign as Teacher</a>
              <a routerLink="register" class="block px-4 py-2 text-sm cursor-pointer font-semibold text-[#757575] tracking-wider hover:text-[#2B788B] hover:bg-gray-50" role="menuitem" tabindex="-1" id="user-menu-item-2">Registration</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="fixed w-max-full inset-0 top-[12%] flex justify-center" [ngClass]="{'hidden': !burgerMenu  }" style="z-index: 50">
      <div class="bg-[#F6F5F4] w-full h-full p-4 flex justify-center items-center">
        <ul class="space-y-4 text-center font-semibold text-[#757575] tracking-wider text-lg" style="font-family: Montserrat">
          <li>
            <a  routerLink="/" class="block hover:text-[#2B788B]" >Home</a>
          </li>
          <li>
            <a href="#" class="block hover:text-[#2B788B]">Blog</a>
          </li>
          <li>
            <a href="#" class="block hover:text-[#2B788B]">About us</a>
          </li>
          <li>
            <a href="#" class="block hover:text-[#2B788B]">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
