.btn {
  font-weight: 700 !important;
  position: relative;
  text-transform: uppercase;
  padding: 13px 30px !important;
  border-radius: 5px !important;
  font-size: 14px !important;
  font-family: "Kumbh Sans", sans-serif;
  border: 2px solid !important;
  transform: translateY(0px);
  transition: all 0.3s ease-in-out;
}

.btn-main {
  background: #20ad96;
  color: #fff !important;
  border-color: #20ad96 !important;
}

.btn-main:hover {
  color: #fff;
  border-color: #385777 !important;
  background: #385777 !important;
}
