<div class="min-h-screen p-3 bg-[#C3DCE3] flex items-center justify-center">
  <div class="max-w-md w-full px-6 py-12 bg-white shadow-md rounded-lg" style="font-family: Montserrat">
    <div class="mb-4 text-sm text-gray-600">
      Forgot your password? No problem. Just let us know your email address, and we will email you a password reset link that will allow you to choose a new one.
    </div>
    <form [formGroup]="forgotForm" (submit)="onSubmit()">
      <label for="email" class="block mb-2 text-sm font-medium text-gray-900 ">Email</label>
      <input type="email"
             name="email"
             id="email"
             formControlName="email"
             class="bg-blue-50 border border-[#C3DCE3] text-gray-900 sm:text-sm text-sm rounded-lg focus:ring-[#2B788B] focus:border-[#2B788B] block w-full p-2.5 " placeholder="your@email.com" >
      <div class="error-message" *ngIf="forgotForm.errors && forgotForm.getError('email')">
        <p class="mt-2 text-[#945069]  font-medium text-xs">
          {{ forgotForm.getError('email') }}
        </p>
      </div>
      <div *ngIf="forgotForm.get('email')?.hasError('required') && forgotForm.controls.email.touched">
        <p class="mt-2 text-[#945069] font-medium text-xs">
          Email is required
        </p>
      </div>
      <div *ngIf="forgotForm.get('email')?.hasError('email')">
        <p class="mt-2 text-[#945069] font-medium text-xs">
          Email must be a valid email address
        </p>
      </div>
      <button type="submit"
              style="font-family: DelaGothic"
              [disabled]="forgotForm.invalid"
              class="w-full mt-4 text-white bg-[#5996A5] tracking-widest focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">Reset Password</button>
    </form>
  </div>
</div>
<!--    Modal success window start -->
<div *ngIf="resultShow" class="relative z-10" aria-labelledby="modal-title" role="dialog" aria-modal="true">
  <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>
  <div class="fixed inset-0 z-10 w-screen overflow-y-auto">
    <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
      <div class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg">
        <div class="bg-white px-4 pb-4 pt-5 sm:p-6 sm:pb-4">
          <div class="sm:flex sm:items-start">
            <div class="mx-auto flex h-12 w-12 flex-shrink-0 items-center justify-center sm:mx-0 sm:h-10 sm:w-10">
              <img src="./assets/img/forgot-password-page/3d-casual-life-check-mark-in-box-blue.png" alt="">
            </div>
            <div class="mt-3 text-center sm:ml-4 sm:mt-0 sm:text-left">
              <h3 class="text-base font-semibold leading-6 text-[#2B788B]" id="modal-title" style="font-family: DelaGothic">Successfully Completed</h3>
              <div class="mt-2">
                <p class="text-sm text-gray-500"  style="font-family: Montserrat">An email with instructions to reset your password has been sent to your registered email address. Please check your inbox and follow the provided instructions to reset your password.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="bg-blue-50 px-4 py-3 sm:flex sm:flex-row-reverse sm:px-6">
          <button (click)="resultShow = !resultShow" type="button" class="mt-3 inline-flex w-full justify-center rounded-md bg-[#2B788B] px-3 py-2 text-sm font-semibold text-white shadow-sm ring-1 ring-inset ring-[#C3DCE3]  sm:mt-0 sm:w-auto" style="font-family: Montserrat">Ok</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!--    Modal success window end-->

<!--    Modal error window start -->
<div *ngIf="errorShow && forgotForm.getError('backend')" class="relative z-10" aria-labelledby="modal-title" role="dialog" aria-modal="true">
  <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>
  <div class="fixed inset-0 z-10 w-screen overflow-y-auto">
    <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
      <div class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg">
        <div class="bg-white px-4 pb-4 pt-5 sm:p-6 sm:pb-4">
          <div class="sm:flex sm:items-start">
            <div class="mx-auto flex h-12 w-12 flex-shrink-0 items-center justify-center sm:mx-0 sm:h-10 sm:w-10">
              <img src="./assets/img/forgot-password-page/casual-life-3d-alarm-sign.png" alt="">
            </div>
            <div class="mt-3 text-center sm:ml-4 sm:mt-0 sm:text-left">
              <h3 class="text-base font-semibold leading-6 text-[#945069]" style="font-family: DelaGothic">Failed</h3>
              <div class="mt-2">
                <p class="text-sm text-gray-500"  style="font-family: Montserrat">Unable to send password reset email. Please check your email address and try again. If the problem persists, please contact our support team for assistance.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="bg-blue-50 px-4 py-3 sm:flex sm:flex-row-reverse sm:px-6">
          <button (click)="errorShow = !errorShow" type="button" class="mt-3 inline-flex w-full justify-center rounded-md bg-[#945069] px-3 py-2 text-sm font-semibold text-white shadow-sm  sm:mt-0 sm:w-auto" style="font-family: Montserrat">Ok</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!--    Modal error window end-->
