<section class="bg-[#C3DCE3] min-h-screen">
  <div class="flex justify-center pt-12 pb-12">
    <div class="md:max-w-lg lg:max-w-2xl w-full px-3 space-y-6 lg:space-y-12">
      <div class="bg-white rounded-lg flex p-2 md:p-4 gap-2 md:gap-4 lg:gap-8 items-center lg:p-6">
        <div class="w-32 lg:w-44">
          <img src="./assets/img/about/person-in-glasses-and-orange-shirt.png" alt="">
        </div>
        <div class="space-y-2 w-full text-start">
          <p style="font-family: DelaGothic" class="text-xl lg:text-2xl">{{'john_name' | translate}}</p>
          <p style="font-family: Montserrat" class="text-[#757575] font-medium text-xs lg:text-sm">{{'john_description' | translate}}</p>
        </div>
      </div>
      <div class="bg-white rounded-lg flex p-2 md:p-4 gap-2 md:gap-4 lg:gap-8 items-center lg:p-6">
        <div class="w-32 lg:w-44">
          <img src="./assets/img/about/avatar-girl-with-glasses.png" alt="">
        </div>
        <div class="space-y-2 w-full text-start">
          <p style="font-family: DelaGothic" class="text-xl lg:text-2xl">{{'sarah_name' | translate}}</p>
          <p style="font-family: Montserrat" class="text-[#757575] font-medium text-xs lg:text-sm">{{'sarah_description' | translate}}</p>
        </div>
      </div>
      <div class="bg-white rounded-lg flex p-2 md:p-4 gap-2 md:gap-4 lg:gap-8 items-center lg:p-6">
        <div class="w-32 lg:w-44">
          <img src="./assets/img/about/green-shirt-and-orange-hat.png" alt="">
        </div>
        <div class="space-y-2 w-full text-start">
          <p style="font-family: DelaGothic" class="text-xl lg:text-2xl">{{'michael_name' | translate}}</p>
          <p style="font-family: Montserrat" class="text-[#757575] font-medium text-xs lg:text-sm">{{'michael_description' | translate}}</p>
        </div>
      </div>
    </div>
  </div>
</section>
