<section class="bg-blue-50 min-h-screen w-full mt-10%">
  <div class="p-8">
    <div class="flex justify-between items-center mb-8">
      <div class="sm:flex sm:items-center sm:w-1/4 sm:h-24 w-full h-10 mb-8 bg-white rounded-lg justify-content-center">
        <p style="font-family: DelaGothic" class="sm:text-2xl text-sm text-center justify-center">Welcome to Dashboard, User</p>
      </div> <!-- Левый прямоугольник -->
    </div>
    <div class="grid sm:grid-cols-3 grid-cols-1 gap-8">
      <div class="h-full bg-white rounded-lg">
        <app-exercises-card></app-exercises-card>
      </div>
      <div class="h-full bg-white rounded-lg">
        <app-courses-card></app-courses-card>
      </div>
      <div class="h-full bg-white rounded-lg">

      </div>
    </div>
  </div>
</section>
