<section class="min-h-screen bg-[#C3DCE3] w-full  p-3 flex md:items-center justify-center">
  <div class="w-full bg-white pb-4 md:max-w-md lg:max-w-2xl space-y-4 p-4 flex flex-col items-center justify-center rounded-3xl">
    <div class="w-full px-3 lg:px-0 lg:max-w-xl mb-4 lg:mb-0 space-y-3">
      <span class="text-xl text-center lg:text-start text-black md:text-2xl lg:px-0" style="font-family: DelaGothic">Missing links {{id}}</span>
      <p class="text-sm font-medium indent-5 text-[#757575]" style="font-family: Montserrat">
        Write the missing words in the sentence
      </p>
    </div>
    <div class="grid grid-cols-1 w-full lg:px-8 gap-3 justify-center bg-[#C3DCE3] mx-auto lg:max-w-xl rounded-lg p-2 md:p-4 ">
      <span class="text-base font-semibold" style="font-family: Montserrat">
        {{ sentenceStr }}
      </span>
      <form [formGroup]="sentenceForm" class="flex gap-3">
        <div *ngFor="let word of sentenceArr; let i = index" >
          <input type="text" id="input{{ i }}" formControlName="data{{ i }}"
                 class="bg-blue-50 w-full text-[#2B788B] font-semibold placeholder-[#80a4ad] text-xs md:text-sm rounded-lg focus:ring-[#2B788B] focus:border-[#2B788B] block p-2 "
          >
        </div>
      </form>
    </div>
    <div class="error-message" *ngIf="sentenceForm.errors && sentenceForm.getError('backend')">
      <p class="pt-2 text-[#945069]  font-medium text-xs">
        {{ sentenceForm.getError('backend') }}
      </p>
    </div>
    <div class="error-message" *ngIf="sentenceForm.errors && sentenceForm.getError('data')">
      <p class="pt-2 text-[#945069]  font-medium text-xs">
        {{ sentenceForm.getError('data') }}
      </p>
    </div>
    <div class="w-full flex justify-end">
      <button type="button" class="bg-[#2B788B] text-sm text-white hover:opacity-80 font-semibold p-2 px-4 rounded-full"
              (click)="checkAnswer()" style="font-family: Montserrat"
      >
        Answer
      </button>
    </div>
  </div>
</section>
