<section class="footer-2">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-sm-6 col-md-8 col-xl-3 col-sm-6">
        <div class="widget footer-about mb-5 mb-lg-0">
          <h5 class="widget-title text-gray">About us</h5>
          <ul class="list-unstyled footer-info">
            <li><span>Ph:</span>+(68) 345 5902</li>
            <li><span>Email:</span>info@yourdomain.com</li>
            <li><span>Location:</span> 123 Fifth Floor East 26th Street,
              New York, NY 10011</li>
          </ul>
          <ul class="list-inline footer-socials">
            <li class="list-inline-item">Follow us :</li>
            <li class="list-inline-item"><a href="#"><i class="bi bi-facebook"></i></a></li>
            <li class="list-inline-item"> <a href="#"><i class="bi bi-twitter"></i></a></li>
            <li class="list-inline-item"><a href="#"><i class="bi bi-linkedin"></i></a></li>
            <li class="list-inline-item"><a href="#"><i class="fab bi-pinterest"></i></a></li>
          </ul>
        </div>
      </div>


      <div class="col-xl-7 ml-auto col-lg-7 col-md-12 col-sm-12">
        <div class="row">
          <div class="col-lg-4 col-xl-4 col-sm-4 col-md-4 ">
            <div class="footer-widget mb-5 mb-lg-0">
              <h5 class="widget-title text-gray">Explore</h5>
              <ul class="list-unstyled footer-links">
                <li><a href="#">About us</a></li>
                <li><a href="#">Contact us</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Support</a></li>
              </ul>
            </div>
          </div>

          <div class="col-lg-4 col-xl-4 col-sm-4 col-md-4">
            <div class="footer-widget mb-5 mb-lg-0">
              <h5 class="widget-title text-gray">Legal</h5>
              <ul class="list-unstyled footer-links">
                <li><a href="#">Terms &amp; Condition</a></li>
                <li><a href="#">Privacy policy</a></li>
                <li><a href="#">Return policy</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-btm">
    <div class="container">
      <div class="row">
        <div class="col-xl-6 col-lg-4 col-md-12">
          <div class="footer-logo text-lg-left text-center mb-4 mb-lg-0">
            <h3>Lang</h3>
            <h4>App</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
