<section class="bg-[#F6F5F4] ">
  <div class="grid grid-cols-1 justify-items-center pt-6 lg:pt-12 pb-6 ">
    <div class="grid grid-cols-2 pb-4 lg:pb-6 text-sm lg:text-base font-semibold lg:w-[75%] text-[#757575] gap-x-24" style="font-family: Montserrat">
      <div class="grid md:grid-cols-2 lg:grid-cols-4 gap-x-10 lg:gap-x-2 gap-y-4">
        <a href="" class="hover:text-[#2B788B] ">About us</a>
        <a href="" class="hover:text-[#2B788B]">Contact us</a>
        <a href="" class="hover:text-[#2B788B]">Services</a>
        <a href="" class="hover:text-[#2B788B]">Support</a>
      </div>
      <div class="col-span-1 flex flex-col lg:flex-row  space-y-4 lg:space-y-0 lg:col-span-1 gap-x-10 md:items-center lg:justify-end">
        <a href="" class="hover:text-[#2B788B]">Home</a>
        <a href="" class="hover:text-[#2B788B]">Blog</a>
      </div>
    </div>

    <hr class="w-[90%] text-[#E0E0E0]">
    <div class="pt-4 lg:pt-6 pb-4 flex gap-4 lg:gap-12">
      <a href="#"><img class="w-6 h-6 lg:w-10 lg:h-10" src="https://img.icons8.com/3d-plastilina/69/facebook-circled.png" alt="facebook-circled"/></a>
      <a href="#"><img class="w-6 h-6 lg:w-10 lg:h-10" src="https://img.icons8.com/3d-plastilina/69/twitter--v2.png" alt="twitter--v2"/></a>
      <a href="#"><img class="w-6 h-6 lg:w-10 lg:h-10" src="https://img.icons8.com/3d-plastilina/69/linkedin--v2.png" alt="linkedin--v2"/></a>
      <a href="#"><img class="w-6 h-6 lg:w-10 lg:h-10" src="https://img.icons8.com/3d-plastilina/69/pinterest--v2.png" alt="pinterest--v2"/></a>
    </div>
    <p style="font-family: Montserrat" class="text-[#757575] text-xs lg:pt-4 lg:text-sm font-semibold">©2021 LangApp. Project for LangApp.</p>
  </div>
</section>
